@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@keyframes heavy-glow {
  0%,
  100% {
    box-shadow: 0 0 15px -5px var(--color-primary);
  }
  50% {
    box-shadow: 0 0 40px 5px var(--color-primary);
  }
}

.animate-heavy-glow {
  animation: heavy-glow 2s infinite;
}
